{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          // "@api": "./src/api",
          // "@constants": "./src/constants",
          "@data": "./data",
          // "@typeDefs": "./src/types",
          "@public": "./public"
        }
      }
    ]
  ]
}